@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 15px;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: "Titillium Web", serif;
}

/* ---------------Footer Css -------------------*/
section.footer {
    padding: 80px 0;
    background-color: #181C14;
}

.footer {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.single-footer {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    text-transform: capitalize;
}

.single-footer-list h3 {
    color: #fff;
    border-bottom: 2px solid #3674B5;
    display: inline-block;
    padding-bottom: 5px;
}
.single-footer-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 18px;
}

.single-footer-list ul li a {
    color: #fff;
    text-decoration: none;
}

.single-footer-list ul li {
    margin: 5px 0;
    padding-left: 10px;
}

.single-footer-list ul li::marker {
    content: "➤";
    color: #3674B5;
}
