<div class="rrf-top-bar bg-black py-2 text-center text-sm text-white">
    <div class="container ">
        {% comment %} Sign up and get 20% off to your first order. <a href="">Sign Up Now</a> {% endcomment %}
         {{ section.settings.text }}
    </div>
</div>


{% schema %}
    {
    "name": "Announcement Bar",
    "enabled_on": {
        "groups": ["header"]
    },
    "settings": [
        {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text",
        "default": "Sign up and get 20% off to your first order.",
        },
    ],
    "presets": [
        {
        
            "name" : "Announcement Bar",
        }
    ]

    }

{% endschema %}

