@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    @apply font-poppins;
    line-height: 1.2;
}

@theme{
    --font-poppins: "Poppins", "sans-serif";
    --font-open-sens:  "Open Sans", "sans-serif";

    /* Color */
    --black:#111111;
    --black-2:#252525;
    --green-1:#72b626;
    /* --blue:#4169E1; */
    /* --yellow:#ffb400; */

    --51x:3.1875rem;
    --56x:3.5rem;
    --110x:6.875rem;
    --15x:0.9375rem;
    --breakpoint-1xl:360;
}

@layer{
    .container{
        /* @apply mx-auto px-4 md:px-0 xl:px-10 lg:px-10 2xl:px-0; */
        @apply mx-auto px-5 md:px-0 1xl:max-w-292.5 xl:max-w-292.5 lg:max-w-242.5 2xl:max-w-360;
    }

}

a{
  @apply cursor-pointer
}

.btn{
   @apply inline-block uppercase pr-17.5 pl-8.75 py-4 border-1  md:text-base text-sm relative rounded-full font-semibold overflow-hidden after:absolute after:top-0 after:left-0 after:w-full after:h-full  after:rounded-full after:transition-transform after:duration-300 after:ease-out after:translate-x-full  hover:after:translate-x-0 focus:after:translate-x-0 active:after:translate-x-0  hover:text-white focus:text-white active:text-white after:z-[-1]
   border-[var(--green-1)] after:bg-[var(--green-1)];
}


/* -----------------Header Area ---------------*/
.header-area{
    /* @apply  bg-[var(--black)] text-white relative z-1 after:absolute after:-left-26.25 after:top-0 after:lg:w-[20%] after:h-full after:bg-[var(--green-1)] lg:after:content-[''] after:z-[-1] after:skew-x-10; */
    @apply  bg-[var(--black)] text-white relative z-1 ;
} 

.sticky-header{
  @apply sticky top-0 left-0 w-full h-full z-1000 bg-transparent;
  transition: all 0.4s ease;
}

.sticky-header.scrolled{
  @apply bg-[rgba(0%,0%,0%,93%)] backdrop:blur-[10px] lg:py-8 py-5;
}

.mainmenu ul li a{
    @apply text-lg  text-white font-medium uppercase relative  after:absolute after:left-0 after:-bottom-1.25 after:w-0 after:h-0.5 after:bg-[var(--green-1)] after:transition-all after:duration-300 hover:after:w-full hover:text-[var(--green-1)] transition duration-200 ease-in-out;
}









/* -----------------Hero Area --------------*/
.hero-area{
  @apply lg:max-h-dvh  xl:py-31.25 lg:py-10 py-31.25 relative;
  /* @apply lg:max-h-dvh   xl:py-31.25 lg:py-10  h-dvh  relative; */
}
/* .hero-mobile{
  @apply h-dvh lg:h-auto  justify-center lg:justify-between;
} */
.header-1{
  @apply w-full h-[200%] -rotate-15 absolute bg-[var(--green-1)] -left-[83%] -top-[50%] -z-1 lg:block hidden;
}
.particle{
  @apply absolute bg-[rgba(255,255,255,0.1)] rounded-[50%] animate-[float_6s_ease-in-out_infinite];
}
.particle:nth-child(1){
  @apply size-20 top-[20%] left-[10%] [animation-delay:0s];
}
.particle:nth-child(2){
  @apply size-15 top-[70%] left-[85%] [animation-delay:2s];
}

.particle:nth-child(3){
  @apply size-25 top-[20%] left-[47%] [animation-delay:4s];
}

.particle:nth-child(4){
  @apply size-50 lg:top-[70%] lg:left-[45%] [animation-delay:4s] top-[50%] left-[10%];
}

/* Hero Left */
.hero-bg{
    @apply 2xl:size-150 rounded-full bg-white size-70 lg:size-112.5 md:mx-auto xl:size-125 xl:mx-0;
}

/* Hero Right */
.hero-right{
  @apply text-center flex flex-col gap-5;
}

.hero-right h1{
  @apply lg:text-[41px] xl:[font-size:var(--51x)] text-3xl font-bold uppercase leading-12.75 relative before:absolute before:xl:w-10 before:h-1 before:bg-[var(--green-1)] before:left-0 before:top-6 before:rounded-[10px]
}



/* .hero-btn a.btn {
  @apply border-[var(--green-1)] after:bg-[var(--green-1)] ;
} */



.hero-icon{
  @apply absolute right-0 size-13.75 top-0 bg-[var(--green-1)] flex justify-center items-center rounded-full; 
}


/* ---------------About Area ---------------*/
.about-area{
  /* @apply relative  after:absolute after:-right-[250px] after:top-0 after:lg:w-[20%] after:h-full after:bg-[var(--yellow)] lg:after:content-[''] after:z-[-1] after:skew-x-9 overflow-x-hidden; */
  @apply relative  lg:z-1 lg:bg-[var(--black)];
}

.about-title{
  @apply text-center relative ;
}

.about-title h2{
  @apply xl:[font-size:var(--56x)] font-bold text-3xl;
}
.about-title span.title-bg{
  @apply xl:[font-size:var(--110x)] text-6xl font-extrabold uppercase absolute left-0 -translate-y-1/2 text-white/10 w-full top-[45%] -z-1 tracking-[0.625rem] leading-[0.7px];

}
.about-left .about-bg{
  @apply relative;
}
.about-left .about-bg img{
  @apply lg:hidden size-[230px] mx-auto  border-4 rounded-full;
    animation: pulse-border 2s infinite ease-in-out;
}

.about-left .about-bg h3{
  @apply text-2xl font-semibold uppercase leading-normal lg:block hidden;
}
.about-left .about-info{
  @apply flex flex-col gap-5;
}

.about-left .about-info li{
  @apply text-[#CFCFCF] capitalize list-none text-[0.9375rem] ;
}
.about-left .about-info li span{
  @apply text-white font-semibold md:text-[0.9375rem] text-sm;
}


.about-icon{
  @apply absolute right-0 size-13.75 top-0 bg-[var(--green-1)] flex justify-center items-center rounded-full; 
}

.single-right-about{
  @apply bg-[var(--black)] border-1 border-[#252525] pt-5 pr-7.5 pb-6.25 pl-10 text-center md:text-left cursor-pointer flex flex-col h-full lg:gap-0 gap-2 rounded-[0.3125rem];

}
.single-right-about h6{
  @apply text-[2.5rem] lg:text-[3.125rem] font-bold text-[var(--green-1)] relative after:absolute  after:text-[2.0625rem] after:font-medium after:top-0.5 after:content-['+'] cursor-pointer;
}

.single-right-about p{
  @apply mb-auto lg:pl-11.25 uppercase xl:w-52.5 md:text-base text-sm  relative cursor-pointer after:absolute after:bg-[#777] after:left-0 after:lg:w-7.5 after:h-0.25 after:content-[''] after:top-3.25;
}

.separator{
  @apply border-1 border-[#252525] mt-17.5 mb-13.75 mx-auto max-w-[40%];
}

.single-about-info .about-circle canvas{
  @apply size-30!;
}


.progressbar-parcentage{
  @apply text-2xl font-semibold absolute top-11.25;
}


/* ----------------Portfolio Section --------------*/
.single-portfolio-list {
  @apply relative overflow-hidden block;
}
.mfp-close-btn-in .mfp-close{
  @apply text-white!
}
.portfolio-details {
  @apply  absolute top-0 left-0  w-0 h-full flex justify-center items-center bg-[#72b626] transition-all duration-300 ease-in-out invisible opacity-0 rounded-[0.3125rem];
}

.single-portfolio-list.group:hover .portfolio-details {
  @apply w-full visible opacity-100;
}


/* --------------Service Area---------- */
.service-area{
  @apply lg:py-25 py-10;
}


.single-service-list {
  @apply border border-[var(--black-2)] p-8 rounded-lg flex flex-col h-full gap-10 bg-transparent duration-300 ease-in-out cursor-pointer shadow-[0_0_10px_rgba(0,0,0,0.05)]
         hover:bg-[var(--black-2)] hover:transform hover:translate-y-[-0.3125rem] hover:shadow-[0_10px_20px_rgba(0,0,0,0.1)] focus:bg-[var(--black-2)] focus:translate-y-[-0.3125rem] focus:shadow-[0_10px_20px_rgba(0,0,0,0.1)] active:bg-[var(--black-2)] active:translate-y-[-0.3125rem] active:shadow-[0_10px_20px_rgba(0,0,0,0.1)];
}

.single-service-list.is-active {
  @apply bg-[var(--black-2)] translate-y-[-0.3125rem] shadow-[0_10px_20px_rgba(0,0,0,0.1)];
}

.single-service-icon svg{
  @apply transition-transform duration-300 ease-in-out;
}



.single-service-list:hover .single-service-icon svg,
.single-service-list:focus .single-service-icon svg,
.single-service-list:active .single-service-icon svg,
.single-service-list.is-active .single-service-icon svg {
  @apply transform scale-[1.2];
}


.single-service-list .service-list{
  @apply  text-sm text-white flex flex-col gap-1;
}

.single-service-list .service-list li{
 @apply flex gap-4 items-center py-1 transition-colors duration-300 ease-in-out  hover:text-[var(--green-1)]  focus:text-[var(--green-1)]  active:text-[var(--green-1)];
}


/* Contact Section */
.single-form .form-control{
@apply bg-[var(--black-2)] border border-transparent focus:border-[var(--green-1)] outline-none text-white py-2.5 px-6  transition-all duration-300 ease-in-out lg:[font-size:var(--15x)] text-sm rounded-[0.3125rem];
}

.single-form .form-control::placeholder{
  @apply uppercase;
}

.contact-content{
  @apply flex flex-col gap-5.25;
}
.contact-content h5{
  @apply lg:[font-size:var(1.625rem)] text-xl text-[white] uppercase font-bold;
}

.contact-content i.fa-solid{
  @apply text-[var(--green-1)] lg:[font-size:2.0625rem] text-2xl;
}

ul.contact-social li a{
  @apply size-10 inline-flex justify-center items-center bg-[var(--black-2)] transition duration-300 hover:bg-[var(--green-1)] ease-in-out rounded-full active:bg-[var(--green-1)] focus:bg-[var(--green-1)];
}


/* Cta Area */
.cta-area{
  @apply bg-[var(--black-2)] py-6 font-poppins! lg:[font-size:var(--15x)] text-sm;
}
.cta-right span{
  @apply  hover:opacity-[0.8] transition duration-300 ease-in-out hover:text-[var(--green-1)] active:text-[var(--green-1)] focus:text-[var(--green-1)];
}
.cta-info p{
  @apply lg:[font-size:var(--15x)] text-sm text-white;
}

.cta-info h4{
  @apply text-lg lg:text-2xl font-bold ;
}

.cta-data h5{
  @apply lg:text-base text-sm font-semibold
}

.terms-contents,.dis-contents{
  @apply hidden fixed top-0 left-0 z-9999 bg-[var(rgba(0,0,0,0.7))] shadow-[0_10px_25px_rgba(0,0,0,0.3)] w-full h-full;

}
.temrs-details{
  @apply relative w-full h-full flex justify-center items-center;
}
.cta-close-btn{
  /* @apply absolute top-[8px] right-[8px] bg-transparent border-none cursor-pointer size-7.5 border-1 border-white rounded-full flex justify-center items-center; */
  @apply absolute top-5 right-5 cursor-pointer border border-white bg-transparent w-[35px] h-[35px] rounded-full font-bold flex justify-center items-center transition duration-200 ease-in-out hover:bg-white hover:text-black;
}
.cta-info{
  @apply bg-[var(--black-2)] p-7.5 relative lg:w-6/12 rounded-xl;
}

hr.cta-br{
  @apply text-white mx-auto;
}











/* ---------------For Animate----------- */
@keyframes HeroBounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-10px);
    animation-timing-function: ease-in-out;
  }
}
@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
}


/* ---------------Additionl Css --------------*/


/* Basic Css */
/* * {
   @apply cursor-none 2xl:cursor-auto;
} */

.outline {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 9999;
  background: rgba(255, 160, 1, 0.3);
  /* opacity: 0; */
  transition: background-color 0.2s ease, opacity 0.3s ease;
  outline: none;
  transform: translate(-50%, -50%);
}

.cursor {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 160, 1);
  /* opacity: 0.5; */
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.hide-cursor {
  opacity: 0 !important;
  pointer-events: none !important;
}

.default-cursor {
  cursor: default !important;
}

.no-cursor {
  cursor: none !important;
}




.hero-bounce {
  animation: HeroBounce 3s infinite;
}


 /* About Image */
@keyframes pulse-border {
  0% {
    border-color: #252525;
  }
  50% {
    border-color: #72b626;
  }
  100% {
    border-color: #252525;
  }
}



/* Portfolio */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}



/* For Preloader */
/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 600ms ease; 
}

.loader {
  display: flex;
  gap: 10px;
}

.loader span {
  width: 15px;
  height: 15px;
  background-color: #72b626;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-15px);
    opacity: 1;
  }
} */



